docker{
	enabled = true
	temp = 'auto'
	runOptions = '-u $(id -u):$(id -g) -v /path/to/data/:/home/input/'
}

#Replace with the id of the image containing vsearch software
process{
    withName:'!cleanReads' {
        container = 'a9c30c929ed3'
    }
}

params{
	reads = "/path/to/reads/"
	outdir = "/path/to/output/dir/"
	region = "V3V4"
	trimmomatic = "./tools/Trimmomatic-0.39/trimmomatic-0.39.jar"
	dbpath = "/path/to/SILVA/DB/SSURef_Nr99/"
	taxscript = "./tools/get_taxonomy.py"

}


